## MacOS file
.DS_Store

## out dir
dist/

## secure config file
.env
.env*

## IDE or editor
.idea/
.vscode

## node
node_modules/

## package manger lock file
package-lock.json
yarn.lock
pnpm-lock.yaml
