## MacOS file
.DS_Store

## out dir
dist/

## local config file
.env
.env*
!.env.example

## IDE or editor
.idea/
.vscode

## node
node_modules/

## package manger lock file
yarn.lock
package-lock.json

## Coveralls
coverage/
.coveralls.yml
